black
ruff
numpy
pandas
requests
openpyxl
beautifulsoup4
lxml==4.9.3
lxml-html-clean
trafilatura
newspaper3k
cssselect
openai
tiktoken
python-dotenv
APScheduler
pytz
rapidfuzz
streamlit
sendgrid
pymupdf
pdfminer.six
PyPDF2
pdfplumber
playwright==1.43.0
camelot-py[cv]>=0.10.1
